<div class="card-body">
    {{#if data.activity.logs}}
    <ul class="steps steps-vertical">
        {{#each data.activity.logs as |log|}}
        {{>components/showLogSteps log=log}}
        {{/each}}
    </ul>
    {{else}}
    <div class="text-center">
        <p>No logs stored for this entity!</p>
    </div>
    {{/if}}
</div>