<div class="modal modal-blur fade" id="modal-new-customer" tabindex="-1" style="display: none; padding-left: 0px;" aria-modal="true" role="dialog" customerId="">
  <div class="modal-dialog modal-lg" role="document" id="create-customer">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">New customer</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="mb-3">
          <label class="form-label">Name</label>
          <input id="customer-name" type="text" class="form-control" name="name" placeholder="Name of customer"/>
        </div>
        <div class="mb-3">
          <label class="form-label">Email</label>
          <input id="customer-email" type="email" class="form-control" name="email" placeholder="customer@gmail.com"/>
        </div>
        <div class="mb-3">
          <label class="form-label">Status</label>
          <div class="form-selectgroup-boxes row mb-3" id="project-status">
            <div class="col-lg-6">
              <label class="form-selectgroup-item">
              <input type="radio" name="status" value="active" class="form-selectgroup-input" checked="" />
              <span class="form-selectgroup-label d-flex align-items-center p-3">
                <span class="me-3">
                  <span class="form-selectgroup-check"></span>
                </span>
                <span class="form-selectgroup-label-content">
                  <span class="form-selectgroup-title strong mb-1">Active</span>
                  <span class="d-block text-secondary">Customer is active to access his portal and perform transactions</span>
                </span>
              </span>
              </label>
            </div>
            <div class="col-lg-6">
              <label class="form-selectgroup-item">
                <input type="radio" name="status" value="inactive" class="form-selectgroup-input" />
                <span class="form-selectgroup-label d-flex align-items-center p-3">
                  <span class="me-3">
                    <span class="form-selectgroup-check"></span>
                  </span>
                  <span class="form-selectgroup-label-content">
                    <span class="form-selectgroup-title strong mb-1" >Blocked</span>
                    <span class="d-block text-secondary">Customer can not do transactions or access his portal.</span>
                  </span>
                </span>
              </label>
            </div>
          </div>
        </div>
        <div class="mb-3">
          <label class="form-label">Projects</label>
          <ul>
            <li>Project 1</li>
            <li>Project 2</li>
            <li>Project 3</li>
            <li>Project 4</li>
          </ul>
        </div>
        <div class="mb-3">
          <label class="form-label">Location</label>
          <input id="customer-location" type="text" class="form-control" name="location" placeholder="Pakistan etc"/>
        </div>
        <div class="mb-3">
          <label class="form-label">Subscriptions</label>
          <ul>
            <li>Project 1</li>
            <li>Project 2</li>
            <li>Project 3</li>
            <li>Project 4</li>
          </ul>
        </div>
      </div>
      <div class="modal-footer">
        <a href="#" class="btn btn-link link-secondary" data-bs-dismiss="modal"> Cancel </a>
        <a href="#" class="btn btn-primary ms-auto" onclick="saveEntry(this)">
          <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
            <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
            <path d="M12 5l0 14"></path>
            <path d="M5 12l14 0"></path>
          </svg> Create new customer </a>
      </div>
    </div>
  </div>
</div>