<div class="card-header d-flex justify-content-between">
    <h3 class="card-title">Linked Documents</h3>
    <a href="#" class="btn btn-primary" onclick="uploadNewFile(this)">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
            stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
            class="icon icon-tabler icons-tabler-outline icon-tabler-plus">
            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
            <path d="M12 5l0 14" />
            <path d="M5 12l14 0" />
        </svg>
        Upload New Document
    </a>
</div>
{{#if data.files}}
<div class="card-body">
    <div class="row">
        {{#each data.files}}
        <div class="col-3 col-md-2 text-center file" file-id="{{this._id}}" onclick="getFileModal(this)">
            {{> components/fileSkeleton}}
        </div>
        {{/each}}
    </div>
</div>
{{else}}
<div class="card-body">
    <div class="text-center py-4">No files found</div>
</div>
{{/if}}