{{#with data.order as |order|}}
<div class="card mb-3">
    <div class="card-header d-flex justify-content-between">
        <h3 class="card-title">Connected Documents</h3>
        <a href="#" class="btn btn-primary" onclick="getEditDocModal(this)" order-id="{{order._id}}">Attach Document</a>
    </div>
    <div class="card-body">
        <div class="row">
            {{!-- {{#each order.connectedDocs as |doc|}} --}}
            <div class="col-6 col-md-3 text-center file unlinked" file-name="{{this.originalName}}"
                onclick="getUnlinkedFile(this)">
                {{> components/fileSkeleton}}
            </div>
            {{!-- {{/each}} --}}
        </div>
    </div>
</div>

{{/with}}