<div class="card mt-3">
  <div class="card-header d-flex justify-content-between">
    <h3 class="card-title">Payments</h3>
    {{#if (findInArray data.role "createOrders")}}
    <button class="btn btn-primary-outline btn-icon" id="showPaymentModal" data-bs-toggle="modal" data-bs-target="#modal-new-order">
      <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"> <path stroke="none" d="M0 0h24v24H0z" fill="none" /> <path d="M12 5l0 14" /> <path d="M5 12l14 0" /> </svg>
    </button>
    {{/if}}
  </div>
  <div class="card-body">
    <div class="text-center py-4">No payments found</div>
  </div>
</div>