
    <div class="card mt-2">
      <div class="card-header d-flex justify-content-between">
        <h3 class="card-title">Payments</h3>
      </div>
      <div class="card-body">
        <div class="text-center py-4">No payments found</div>
      </div>
    </div>