<div class="card mb-3">

  <div class="card-body flex-column align-items-start">
    <h3 class="card-title text-red">Gaza Announcement</h3>
    <div class="card-stamp">
      <div class="card-stamp-icon bg-red">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
          stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
          class="icon icon-tabler icons-tabler-outline icon-tabler-bell">
          <path stroke="none" d="M0 0h24v24H0z" fill="none" />
          <path d="M10 5a2 2 0 1 1 4 0a7 7 0 0 1 4 6v3a4 4 0 0 0 2 3h-16a4 4 0 0 0 2 -3v-3a7 7 0 0 1 4 -6" />
          <path d="M9 17v1a3 3 0 0 0 6 0v-1" />
        </svg>
      </div>
    </div>
    <div class="text-secondary">We are experiencing delays in monthly reports from Gaza due to ongoing blockade. Our team
      on ground is working despite facing acute lack of funds and food. Please show your support to Gaza in your
      communities and keep raising voice. We really appreciate your patience. Jazak Allah Khairun.</div>
  </div>

</div>