 <div class="card-body">
    <ul class="steps steps-blue steps-counter my-4">
        <li class="step-item">Download Template</li>
        <li class="step-item active">Upload File</li>
        <li class="step-item">Summary</li>
    </ul>
</div>
<div class="card-body">
    <div class="mb-3">
        <div class="form-label">Upload your excel file</div>
        <input type="file" class="form-control" id="excelFile" name="excelFile" accept=".xlsx, .xls" />
    </div>
</div>
<div class="card-body">
    <ul class="pagination ">
        <li class="page-item page-prev ">
            <a class="page-link prev cursor-pointer" onclick="moveBack(this)" data-url="/uploadExcel/step-1/{{data.project.slug}}">
                <div class="page-item-subtitle">prev</div>
                <div class="page-item-title">Download Template</div>
            </a>
        </li>
        <li class="page-item page-next">
            <a class="page-link cursor-pointer" onclick="uploadExcel(this)">
                <div class="page-item-subtitle">next</div>
                <div class="page-item-title">Submit</div>
            </a>
        </li>
    </ul>
</div>