<div class="modal modal-blur fade" id="modal-{{data.phoneNo}}" tabindex="-1" style="display: none; padding-left: 0px;"
    aria-modal="true" role="dialog">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header px-4">
                <h5 class="modal-title">Chat</h5>
                <div class="ms-auto d-flex align-items-center">
                    <button type="button" class="btn btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
            </div>
            <div class="modal-body p-0">
                <div class="card" style="height: 80vh; overflow: scroll">
                    {{!-- <div class="card-body">
                        <div class="chat">
                            <div class="chat-bubbles">
                                <div class="chat-item">
                                    <div class="row align-items-end justify-content-end">
                                        <div class="col col-lg-6">
                                            <div class="chat-bubble chat-bubble-me">
                                                <div class="chat-bubble-title">
                                                    <div class="row">
                                                        <div class="col chat-bubble-author">Paweล Kuna</div>
                                                        <div class="col-auto chat-bubble-date">09:32</div>
                                                    </div>
                                                </div>
                                                <div class="chat-bubble-body">
                                                    <p>Hey guys, I just pushed a new commit on the <code>dev</code>
                                                        branch.
                                                        Can you have a look and tell me what you think?</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-auto"><span class="avatar avatar-1">QA</span></div>
                                    </div>
                                </div>
                                <div class="chat-item">
                                    <div class="row align-items-end">
                                        <div class="col-auto"><span class="avatar avatar-1">AW</span></div>
                                        <div class="col col-lg-6">
                                            <div class="chat-bubble">
                                                <div class="chat-bubble-title">
                                                    <div class="row">
                                                        <div class="col chat-bubble-author">Mallory Hulme</div>
                                                        <div class="col-auto chat-bubble-date">09:34</div>
                                                    </div>
                                                </div>
                                                <div class="chat-bubble-body">
                                                    <p>Sure Paweล, let me pull the latest updates.</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div> --}}
                    <div class="card-footer d-none">
                        <div class="input-group input-group-flat">
                            <input type="text" class="form-control" autocomplete="off" placeholder="Type message">
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="card chat-bubble-me p-4 mb-2" id="orphan_request_report" dir="rtl">
                            <p style="line-height: 1.8;">
                                ๐ข ุงูุณูุงู ุนูููู [[1]]! ูุงู ูุชุจุฑุน ุฌุฏูุฏ ูู [[2]] ุจุงูุงุดุชุฑุงู ูุฏุนู ุทูููู. <br>

                                ุฑุบู ุฃู ุงููุฏุงุฑุณ ูู ุบุฒุฉ ูุง ุชุฒุงู ูุบููุฉุ ุฅูุง ุฃู ุงูุชุญุฏูุซุงุช ุงูุชู ุชุฑุณููููุง ุชุณุงุนุฏ ุงููุชุจุฑุน ุนูู
                                ุงูุดุนูุฑ
                                ุจุงููุฑุจ ูุงูุงูุชูุงู ุจุญูุงุฉ ุทูููู ูู ูุฐู ุงูุธุฑูู ุงูุตุนุจุฉ. ุนูุฏูุง ูููู ุฐูู ูููููุงุ ูุฑุฌู ูููู
                                ุฅุฑุณุงู ุฃู
                                ููุง ููู: <br>

                                ๐ธ ุตูุฑุฉ ุฃู ููุทุน ููุฏูู ุญุฏูุซ ูุทูููู ูู ุงูููุฒู <br>

                                ๐๏ธ ูุญุธุฉ ุจุณูุทุฉ ุฃุฏุฎูุช ุงูุณุฑูุฑ ุนูู ููุจ ุงูุทูู โ ุญุชู ูุฅู ูุงูุช ุตุบูุฑุฉ <br>

                                ๐งธ ุดูุก ูุญุจู ุงูุทูู ุฃู ูุณุชูุชุน ุจู โ ูุนุจุฉ ููุถูุฉุ ุฑุณูุฉุ ุฃู ูุดุงุท ููุฒูู <br>

                                ๐ ุตูุฑุฉ ุฃู ููุฏูู ูู ุฑูุถุงู ุฃู ุงูุนูุฏ ูุงู ูู ูุนูู ุฎุงุตุ ููู ุจุจุณุงุทุฉ <br>

                                ๐ท ุฃู ูุญุธุงุช ูู ุงูุญูุงุฉ ุงูููููุฉ ุชูุธูุฑ ููู ุญุงู ุงูุทูู โ ุญุชู ูู ูุงู ููุท ุฌุงูุณูุง ุฃู ููุนุจ ุฃู ูุน
                                ุงูุนุงุฆูุฉ <br>

                                ูููููู ุงูุฑุฏ ูุจุงุดุฑุฉ ุนูู ูุฐู ุงูุฑุณุงูุฉ ุจุฅุฑุณุงู ุตูุฑ ุฃู ููุงุทุน ููุฏูู ููุท. ุณูุชู ูุดุงุฑูุฉ ุงูุชุญุฏูุซ ูุน
                                ูุญุฑุฑ ุงููุดุฑูุนุ ูุฅุฏุงุฑุฉ ุฎุฏูุฉ ุฃูุฑูุจุงุ ูุจุนุฏ ุงููุฑุงุฌุนุฉุ ูุน ุงููุชุจุฑุน ููุท. <br>

                                ุฌุฒุงูู ุงููู ุฎูุฑูุง ุนูู ููุชูู ูุงูุชูุงููู. โค๏ธ
                            </p>

                            <div class="btn d-inline-block me-auto btn-primary mt-2">Send</div>
                        </div>
                        <div class="card chat-bubble-me p-4 mb-2" dir="rtl" id="start_chat_arabic">
                            ุนุฒูุฒู [[1]]ุ ูุฏูุฑ ุงูุฎุฏูุงุช ุฃูุฑูุจุง ูุฑุบุจ ุจุงูุชุญุฏุซ ูุนู ุจุฎุตูุต ุฑุนุงูุชู. ููุฑุฌู ุงูุฑุฏ ุฅุฐุง ููุช ูุชุงุญูุง
                            <div class="btn d-inline-block me-auto btn-primary mt-2">Send</div>
                        </div>
                        <div class="card chat-bubble-me p-4" id="student_status_english">
                            <p style="line-height: 1.8;">
                                ๐ข Salaam [[1]]! A new donor from [[2]] has just subscribed to support you.
                                To help keep your sponsor updated and connected, please send us any of the following
                                when
                                you can: <br>

                                - ๐ธ Photos or videos of you in uniform during an exam or studying <br>
                                - ๐ Moments from extra-curricular activities (like a declamation contest, sports, or a
                                school gala) <br>
                                - ๐ A photo or video of you in the school library or reading at home <br>
                                - โ๏ธ A thank you essay explaining how your sponsorโs help is supporting your goals <br>
                                - ๐ A family celebration, achievement, or milestone you recently experienced <br>
                                - ๐ก A personal โaha!โ moment or something that made you feel inspired <br>

                                You can reply directly to this message with your photos, videos, texts, or other
                                updates.
                                Rest assured, your data will be securely shared only with the Project Editor, Alkhidmat
                                Europe Admin, and, after approval, with your sponsor. <br>

                                We will make sure your donor receives your update after itโs reviewed. <br>
                                JazakAllah khair! โค๏ธ
                            </p>
                            <div class="btn d-inline-block me-auto btn-primary mt-2">Send</div>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </div>
</div>

<button href="#" class="btn btn-primary d-none" id="button-{{data.phoneNo}}" data-bs-toggle="modal"
    data-bs-target="#modal-{{data.phoneNo}}"></button>