<!-- Page header -->
<div class="page-header d-print-none">
  <div class="container-xl">
    <div class="row g-2 align-items-center">
      <div class="col">
        <!-- Page pre-title -->
        <div class="page-pretitle">
          Dashboard
        </div>
        <h2 class="page-title">
          Akeurope Admin Portal
        </h2>
      </div>
    </div>
  </div>
</div>
<!-- Page body -->
<div class="page-body">
  <div class="container-xl">
    <div class="row row-deck row-cards">
      <div class="col-lg-6" id="activity-container">
        {{> dashboardActivity}}
      </div>
    </div>
  </div>
</div>



<script>
  $(document).on("change", '.form-select', function (event) {
    const href = $(event.target).attr("my-href");
    const currentValue = $(this).val();
    const newhref = `${href}&entityType=${currentValue}`;
    getActivityData(event.target, newhref);
  })

  const getActivityData = function (elem, href) {
    href = href || $(elem).attr("my-href");
    $.ajax({
      url: href,
      method: 'GET',
      success: function (response) {
        $('#activity-container').html(response);
      },
      error: function (error) {
        $('#activity-container').html(error.responseText);
      }
    })
  }

</script>