
    <div class="page page-center">
      <div class="container container-tight py-4">
        <div class="text-center mb-4">
          <a href="." class="navbar-brand navbar-brand-autodark">
            <img src="/static/images/logo.png" width="110" height="32" alt="Tabler" class="navbar-brand-image">
          </a>
        </div>
        <form class="card card-md" autocomplete="off" novalidate>
          <div class="card-body">
            <h2 class="card-title text-center mb-4">Forgot password</h2>
            <p class="text-secondary mb-4">Enter your email address and your password reset link will be emailed to you. </p>
            <div class="mb-3">
              <label class="form-label">Email address</label>
              <input id="email" type="email" class="form-control" placeholder="Enter email">
            </div>
            <div class="form-footer">
              <button id="submit" type="submit" class="btn btn-primary w-100">
                <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M3 7a2 2 0 0 1 2 -2h14a2 2 0 0 1 2 2v10a2 2 0 0 1 -2 2h-14a2 2 0 0 1 -2 -2v-10z" /><path d="M3 7l9 6l9 -6" /></svg>
                Send email
              </button>
            </div>
          </div>
        </form>
        <div class="text-center text-secondary mt-3">
          Forget it, <a href="/login">send me back</a> to the sign in screen.
        </div>
      </div>
    </div>
   

   <script>

    $(document).on("submit", "form", function(e) {
      console.log("form submit clicked");
        e.preventDefault();
        let isValid = [];

        $(this).find("input").removeClass("is-invalid");
        $(this).find(".invalid-feedback").remove();
        $(this).find("span").removeClass("border-red");
        $(this).find("span").removeClass("rounded-end");
        $(this).find(".alert").remove();

        $(this).find("input").each( (key, val) => {
          if ($(val).val() == "") {
            $(val).addClass("is-invalid")
            if ($(val).siblings("span").length > 0) {
              $(val).siblings("span").after(`<div class="invalid-feedback mb-2">Invalid entry</div> `);
              $(val).siblings("span").addClass("is-invalid border-red rounded-end");
            } else {
              $(val).after(`<div class="invalid-feedback">Invalid entry</div> `);
            }
          }
          isValid.push($(val).val() != "");
        })


        if (!(isValid.every(val => val === true))) {
          return false;
        }

        const email = $('#email').val();

        let currentBtnHTML = $("#submit").html();
        $("#submit").html(`<span class="spinner-border spinner-border-sm me-2" role="status"></span>`);
        // Perform AJAX POST request
        $.ajax({
          url: '/forgot-password', 
          type: 'POST',
          contentType: 'application/json', 
          data: JSON.stringify({ email }),
          success: function(response) {
            $("#submit").html(currentBtnHTML);
            $(".form-footer").after(`
            <div class="alert alert-success mt-4" role="alert">
              <h4 class="alert-title">Success!</h4>
              <div class="text-secondary">${response}</div>
            </div>`);
          },
          error: function(xhr, status, error) {
            $("#submit").html(currentBtnHTML);
            $(".form-footer").after(`
            <div class="alert alert-danger mt-4" role="alert">
              <h4 class="alert-title">Failed!</h4>
              <div class="text-secondary">${xhr.responseText}</div>
            </div>`);
          }
        });

      });

   </script>