<!-- Page header -->
<div class="page-header d-print-none">
  <div class="container-xl">
    <div class="row g-2 align-items-center">
      <div class="col">
        <ol class="breadcrumb mb-4" aria-label="breadcrumbs">
            <li class="breadcrumb-item"><a href="/projects">Projects</a></li>
            <li class="breadcrumb-item active"><a href="#">{{data.project.name}}</a></li>
        </ol>
        <!-- Page pre-title -->
        <div class="page-pretitle">
            Project Overview
        </div>
        <h2 class="page-title">
            Project {{data.project.name}}
        </h2>
      </div>
      <!-- Page title actions -->
    </div>
  </div>
</div>
<!-- Page body -->
<div class="container-xl pt-4">

</div>

<script>

  $(document).on("click", "#save-project", function(e) {

    console.log($(this));
    e.preventDefault();

    console.log("form button pressed");

    $("#create-project").find("input").removeClass("is-invalid");
    $("#create-project").find(".invalid-feedback").remove();
    $("#create-project").find("span").removeClass("border-red");
    $("#create-project").find("span").removeClass("rounded-end");
    $("#create-project").find(".alert").remove();

    let isValid = [];
    $("#create-project").find("input").each( (key, val) => {
      if ($(val).val() == "") {
        $(val).addClass("is-invalid")
        if ($(val).siblings("span").length > 0) {
          $(val).siblings("span").after(`<div class="invalid-feedback mb-2">Invalid entry</div> `);
          $(val).siblings("span").addClass("is-invalid border-red rounded-end");
        } else {
          $(val).after(`<div class="invalid-feedback">Invalid entry</div> `);
        }
      }
      isValid.push($(val).val() != "");
    });

    const name = $("#project-name").val();
    const slug = $("#project-slug").val();
    const location = $("#project-location").val();
    const status = $("#project-status").find("input:checked").val();

    console.log( {
      name,
      location,
      status
    })

    if (!(isValid.every(val => val === true))) {
        return false;
    }

    let currentBtnHTML = $(this).html();
    $(this).html(`<span class="spinner-border spinner-border-sm me-2" role="status"></span>`);

</script>