<!-- Page header -->
<div class="page-header d-print-none">
  <div class="container-xl">
    <div class="row g-2 align-items-center">
      <div class="col">
        <!-- Page pre-title -->
        <div class="page-pretitle"> Overview </div>
        <h2 class="page-title"> All Projects </h2>
      </div>
      <!-- Page title actions -->
      <div class="col-auto ms-auto d-print-none">
        <div class="btn-list">
          <a href="#" class="btn btn-secondary-outline d-none d-md-inline-block" onclick="toggleLayout(this)">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
              stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
              class="icon icon-tabler icons-tabler-outline icon-tabler-square-toggle-horizontal">
              <path stroke="none" d="M0 0h24v24H0z" fill="none" />
              <path d="M22 12h-20" />
              <path d="M4 14v-8a2 2 0 0 1 2 -2h12a2 2 0 0 1 2 2v8" />
              <path d="M18 20a2 2 0 0 0 2 -2" />
              <path d="M4 18a2 2 0 0 0 2 2" />
              <path d="M14 20l-4 0" />
            </svg>
            Toggle layout
          </a>
          <a href="#" class="btn btn-secondary-outline d-md-none btn-icon" onclick="toggleLayout(this)">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
              stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
              class="icon icon-tabler icons-tabler-outline icon-tabler-square-toggle-horizontal">
              <path stroke="none" d="M0 0h24v24H0z" fill="none" />
              <path d="M22 12h-20" />
              <path d="M4 14v-8a2 2 0 0 1 2 -2h12a2 2 0 0 1 2 2v8" />
              <path d="M18 20a2 2 0 0 0 2 -2" />
              <path d="M4 18a2 2 0 0 0 2 2" />
              <path d="M14 20l-4 0" />
            </svg>
          </a>
          {{#if (findInArray data.role "createProject")}}
          <a href="#" class="btn btn-primary d-none d-md-inline-block" id="" data-bs-toggle="modal"
            data-bs-target="#modal-new-project">
            <!-- Download SVG icon from http://tabler-icons.io/i/plus -->
            <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24"
              stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
              <path stroke="none" d="M0 0h24v24H0z" fill="none" />
              <path d="M12 5l0 14" />
              <path d="M5 12l14 0" />
            </svg>
            Create new project
          </a>
          <a href="#" class="btn btn-primary d-md-none btn-icon" data-bs-toggle="modal"
            data-bs-target="#modal-new-project" aria-label="Create new project">
            <!-- Download SVG icon from http://tabler-icons.io/i/plus -->
            <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24"
              stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
              <path stroke="none" d="M0 0h24v24H0z" fill="none" />
              <path d="M12 5l0 14" />
              <path d="M5 12l14 0" />
            </svg>
          </a>
          {{/if}}
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Page body -->
<div class="container-xl pt-4" id="data-container">
  {{> showProjects}}
</div>

{{#if (findInArray data.role "createProject")}}
{{> editProjectModal}}
{{/if}}

{{> projectsFrontEnd}}

<script src="https://cdn.jsdelivr.net/npm/tom-select/dist/js/tom-select.complete.min.js"></script>

<script>

  const toggleLayout = function (elem) {
    $.ajax({
      url: '/update-layout',
      method: 'POST',
      data: { layout: newLayout },
      success: function (response) {
        showData();
      },
      error: function () {
        alert("Failed to update layout.");
      }
    });
  }

  const showData = function () {
    $.ajax({
      url: '/getProjectsData',
      method: 'GET',
      success: function (response) {
        newLayout = newLayout == 'grid' ? 'table' : 'grid';
        $("#data-container").html(response);
      },
      error: function (error) {
        alert("Failed to update layout.");
        console.log(error);
      }
    });
  }


</script>