    <div class="page page-center">
      <div class="container container-tight py-4">
        <div class="text-center mb-4">
          <a href="." class="navbar-brand navbar-brand-autodark">
            <img src="/static/images/logo.png" width="110" height="32" alt="Tabler" class="navbar-brand-image">
          </a>
        </div>
        <form class="card card-md" autocomplete="off" novalidate>
          <div class="card-body">
            <h2 class="card-title text-center mb-4">Reset Password</h2>
            <p class="text-secondary mb-4">Please enter your new password to reset your password.</p>
            <div class="mb-3">
              <label class="form-label">
                Password
              </label>
              <div class="input-group input-group-flat">
                <input id="password" type="password" class="form-control"  placeholder="Your password"  autocomplete="off">
                <span class="input-group-text togglePassword">
                  <a href="#" class="link-secondary" title="Show password" data-bs-toggle="tooltip">
                    <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M10 12a2 2 0 1 0 4 0a2 2 0 0 0 -4 0" /><path d="M21 12c-2.4 4 -5.4 6 -9 6c-3.6 0 -6.6 -2 -9 -6c2.4 -4 5.4 -6 9 -6c3.6 0 6.6 2 9 6" /></svg>
                  </a>
                </span>
              </div>
            </div>
            <div class="mb-3">
              <label class="form-label">
                Confirm password
              </label>
              <div class="input-group input-group-flat">
                <input id="confirmPassword" type="password" class="form-control"  placeholder="Your password"  autocomplete="off">
                <span class="input-group-text togglePassword">
                  <a href="#" class="link-secondary" title="Show password" data-bs-toggle="tooltip">
                    <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M10 12a2 2 0 1 0 4 0a2 2 0 0 0 -4 0" /><path d="M21 12c-2.4 4 -5.4 6 -9 6c-3.6 0 -6.6 -2 -9 -6c2.4 -4 5.4 -6 9 -6c3.6 0 6.6 2 9 6" /></svg>
                  </a>
                </span>
              </div>
            </div>
            <div class="form-footer">
              <button id="submit" type="submit" class="btn btn-primary w-100">Change password</button>
            </div>
          </div>
        </form>
        <div class="text-center text-secondary mt-3">
          Forget it, <a href="/login">send me back</a> to the sign in screen.
        </div>
      </div>
    </div>

    <script>
      $(document).on("submit", "form", function(e) {
        e.preventDefault();
        let isValid = [];

        $(this).find("input").removeClass("is-invalid");
        $(this).find(".invalid-feedback").remove();
        $(this).find("span").removeClass("border-red");
        $(this).find("span").removeClass("rounded-end");
        $(this).find(".alert").remove();

        $(this).find("input").each( (key, val) => {
          if ($(val).val() == "") {
            $(val).addClass("is-invalid")
            if ($(val).siblings("span").length > 0) {
              $(val).siblings("span").after(`<div class="invalid-feedback mb-2">Invalid entry</div> `);
              $(val).siblings("span").addClass("is-invalid border-red rounded-end");
            } else {
              $(val).after(`<div class="invalid-feedback">Invalid entry</div> `);
            }
          }
          isValid.push($(val).val() != "");
        })

        if (!(isValid.every(val => val === true))) {
          return false;
        }

       // Collect data from form inputs
        const password = $('#password').val();
        const confirmPassword = $('#confirmPassword').val();

        if (password != confirmPassword) {
          $("input").addClass("is-invalid")
          if ($("input").siblings("span").length > 0) {
            $("input").siblings("span").after(`<div class="invalid-feedback mb-2">Passwords do not match.</div> `);
            $("input").siblings("span").addClass("is-invalid border-red rounded-end");
          } else {
            $("input").after(`<div class="invalid-feedback">Passwords do not match.</div> `);
          }
          return false;
        }

        // Perform AJAX POST request
        $.ajax({
          url: '/reset/{{token}}', // Endpoint to send the data
          type: 'POST',
          contentType: 'application/json', // Sending JSON data
          data: JSON.stringify({ password, confirmPassword }),
          success: function(response) {
            $(".form-footer").after(`
            <div class="alert alert-success mt-4" role="alert">
              <h4 class="alert-title">Password Changed!</h4>
              <div class="text-secondary">Please <a href="/login">click here</a> to login with your new password.</div>
            </div>`);
          },
          error: function(xhr, status, error) {
            $(".form-footer").after(`
              <div class="alert alert-success mt-4" role="alert">
                <h4 class="alert-title">Error!</h4>
                <div class="text-secondary">${xhr.responseText}</div>
              </div>
            `);
          }
        });
      });

      $('.togglePassword').on('click', function() {
        const passwordField = $(this).siblings("input");
        const type = passwordField.attr('type') === 'password' ? 'text' : 'password';
        passwordField.attr('type', type);
      });
    </script>