<div class="page-header d-print-none">
  <div class="container-xl">
    <div class="col-lg-7 m-auto">
        <div class="col text-center">
            <p class="text-secondary">{{data.project.name}}</p>
            <h2 class="">Bulk Upload</h2>
        </div>
        <div class="card" id="data-container">
            {{> uploadExcelOne}}
        </div>
    </div>
  </div>
</div>


<script>
    $(document).on("click", ".next, .prev", function(e) {
        console.log("go to next step");
        let url = $(this).attr("data-url");

        $.ajax({
            url: url, 
            method: 'GET',
            success: function(response) {
                console.log(response);
                $("#data-container").html(response);
            },
            error: function(error) {
                alert(error.responseText);
            }
        }); 
    });


    const uploadExcel = function(elem) {

        const fileInput = $('#excelFile')[0];

        $('#excelFile').removeClass("is-invalid");
        $(elem).closest(".card").find(".invalid-feedback").removeClass("invalid-feedback");

        if (!fileInput.files.length) {
            $('#excelFile').addClass("is-invalid");
            $("#excelFile").after(`<div class="invalid-feedback">No file uploaded</div>`);
            return;
        }

        $('#excelFile').addClass("is-valid");
        const formData = new FormData();
        formData.append('excelFile', fileInput.files[0]);

        $.ajax({
            url: '/uploadExcel/{{data.project.slug}}', 
            type: 'POST',
            data: formData,
            processData: false, 
            contentType: false, 
            success: function(response) {
                stepThree(response);
            },
            error: function(error) {
                alert('Error uploading file.');
                console.error(error);
            }
        });
    };

    const stepThree = function(msg) {
        $.ajax({
            url: '/renderPartial',
            type: 'POST',
            data: JSON.stringify({
                partialName: 'uploadExcelThree',  
                data: {
                    msg,
                    slug: '{{data.project.slug}}',
                    name: '{{data.project.name}}'
                }
            }),
            contentType: 'application/json',
            success: function(response) {
                $("#data-container").html(response);
            },
            error: function(error) {
                alert('Error rendering partial:', error);
            }
        });
    }
</script>
