<div class="page-header d-print-none">
  <div class="container-xl">
    <div class="col-lg-7 m-auto">
        <div class="col text-center">
            <p class="text-secondary">{{data.project.name}}</p>
            <h2 class="">Bulk Upload</h2>
        </div>
        <div class="card" id="data-container">
            {{> uploadExcelOne}}
        </div>
    </div>
  </div>
</div>


<script>
    $(document).on("click", ".next", function(e) {
        console.log("go to next step");
    })
</script>
