<div class="page-header d-print-none">
    <div class="container-xl">
        <div class="col-lg-10 m-auto">
            <div class="col text-center">
                <p class="text-secondary">{{data.project.name}}</p>
                <h2 class="">Bulk Upload</h2>
            </div>
            <div class="card" id="data-container">
                {{> uploadExcelOne}}
            </div>
        </div>
    </div>
</div>

<script>

    const moveNext = function (elem) {
        navigation(elem);
    }

    const moveBack = function (elem) {
        navigation(elem);
    }

    const navigation = function (elem) {
        let url = $(elem).attr("data-url");

        if (!elem) {
            console.error('No URL provided!');
            return;
        }

        let currentHTML = $(elem).html();

        $(elem).html(`
        <div class="page-item-subtitle">
            <span class="spinner-border spinner-border-sm me-2" role="status"></span>
        </div>
        <div class="page-item-title">Processing Request</div>
        `);

        $.ajax({
            url: url,
            method: 'GET',
            success: function (response) {
                $(elem).html(currentHTML);
                $("#data-container").html(response);
            },
            error: function (error) {
                $(elem).html(currentHTML);
                console.error('AJAX Error:', error);
                alert(error.responseText);
            }
        });
    };

    const uploadExcel = function (elem) {

        const fileInput = $('#excelFile')[0];

        $('#excelFile').removeClass("is-invalid");
        $(elem).closest(".card").find(".invalid-feedback").remove();

        if (!fileInput.files.length) {
            $('#excelFile').addClass("is-invalid");
            $("#excelFile").after(`<div class="invalid-feedback">No file uploaded</div>`);
            return;
        }

        $('#excelFile').addClass("is-valid");
        const formData = new FormData();
        formData.append('excelFile', fileInput.files[0]);


        let currentHTML = $(elem).html();

        $(elem).html(`
        <div class="page-item-subtitle">
            <span class="spinner-border spinner-border-sm me-2" role="status"></span>
        </div>
        <div class="page-item-title">Processing Request</div>
        `);

        $.ajax({
            url: '/uploadExcel/{{data.project.slug}}',
            type: 'POST',
            data: formData,
            processData: false,
            contentType: false,
            success: function (response) {
                console.log(response);
                stepThree(response, elem, currentHTML);
            },
            error: function (error) {
                $(elem).html(currentHTML);
                alert('Error uploading file.');
                console.error(error);
            }
        });
    };

    const stepThree = function (msg, elem, currentHTML) {
        $.ajax({
            url: '/renderPartial',
            type: 'POST',
            data: JSON.stringify({
                partialName: 'uploadExcelThree',
                data: {
                    msg,
                    slug: '{{data.project.slug}}',
                    name: '{{data.project.name}}'
                }
            }),
            contentType: 'application/json',
            success: function (response) {
                $("#data-container").html(response);
                $(elem).html(currentHTML);
            },
            error: function (error) {
                $(elem).html(currentHTML);
                alert('Error rendering partial:', error);
            }
        });
    }

</script>