<!-- Page header -->
<div class="page-header d-print-none">
  <div class="container-xl">
    <div class="row g-2 align-items-center">
      <div class="col">
        <div class="page-pretitle"> Administrator </DIV>
        <h2 class="page-title">{{data.user.name}}</h2>
      </div>
      <!-- Page title actions -->
      <div class="col-auto ms-auto d-print-none">
        <div class="btn-list">
          {{#if (findInArray data.role "editUsers")}}
          <a href="#" class="btn btn-primary d-none d-md-inline-block" id="#createNewEntry" data-bs-toggle="modal" data-bs-target="#modal-{{data.entry._id}}">
            <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
              <path stroke="none" d="M0 0h24v24H0z" fill="none" />
              <path d="M12 5l0 14" />
              <path d="M5 12l14 0" />
            </svg>
            Edit administrator
          </a>
          <a href="#" class="btn btn-primary d-md-none btn-icon" data-bs-toggle="modal" data-bs-target="#modal-new-entry" aria-label="modal-new-entry">
            <!-- Download SVG icon from http://tabler-icons.io/i/plus -->
            <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
              <path stroke="none" d="M0 0h24v24H0z" fill="none" />
              <path d="M12 5l0 14" />
              <path d="M5 12l14 0" />
            </svg>
          </a>
          {{/if}}
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Page body -->
<div class="container-xl pt-4" id="data-container">
  {{> showUser}}
</div>

{{#if (findInArray data.role "editUser")}}
  {{> editUserModal}}
{{/if}}

<script>

    $(document).on("change", '.form-select', function(event) {
        const href = $(event.target).attr("my-href");
        const currentValue = $(this).val();
        const newhref = `${href}&showBy=${currentValue}`;
        getUserActivityData(event.target, newhref);
    })

    const getUserActivityData = function(elem, href) {
        href = href || $(elem).attr("my-href");
        console.log(href);
        $.ajax({
            url: href,
            method: 'GET',
            success: function (response) {
                $('#activity-container').html(response);
            },
            error: function (error) {
                $('#activity-container').html(error.responseText);
            }
        })
    }

</script>