<!DOCTYPE html>
<html>

<head></head>

<body style="font-family: Arial, sans-serif; background-color: #f4f4f7; color: #333333; margin: 0; padding: 0;">
    <div style="width: 90%; max-width: 600px; margin: 0 auto; background-color: #ffffff; padding: 20px;">
        <div style="text-align: center">
            <img src="https://res.cloudinary.com/miscellaneous/image/upload/v1729975173/akeurope/logo-full.png"
                style="height: 35px; margin-bottom: 20px; margin-top: 20px" alt="akeurope.org Logo" />
        </div>
        <p style="color: #333333;">{{salute}},</p>

        <p style="color: #333333; line-height: 1.5rem;">
            {{{message}}}
        </p>

        {{#if files}}
        <p style="color: #333333; line-height: 1.5rem;">
            You may access the related documents through the secure links below. Additionally, all your files are
            available in our customer portal linked to your email.
        </p>

        {{#each files}}
        <a href="{{this.url}}" target="_blank" rel="noopener noreferrer"
            style="display: block; width:fit-content; padding: 10px 20px; margin-top: 0px; margin-bottom: 15px; background-color: #007A78; color: #ffffff; text-decoration: none; border-radius: 4px;">{{this.name}}</a>
        {{/each}}

        {{/if}}

        <p style="color: #333333; line-height: 1.5rem;">
            JazakAllah khair for your support and generosity.
        </p>

        <p style="color: #333333; line-height: 1.5rem;">
            The Alkhidmat Europe Team<br>
            <a href="https://akeurope.org" style="text-decoration: none; color: #007A78">akeurope.org</a>
        </p>

    </div>
</body>

</html>