<!DOCTYPE html>
<html>

<head></head>

<body style="font-family: Arial, sans-serif; background-color: #f4f4f7; color: #333333; margin: 0; padding: 0;">
    <div style="width: 90%; max-width: 600px; margin: 0 auto; background-color: #ffffff; padding: 20px;">
        <div style="text-align: center">
            <img src="https://res.cloudinary.com/miscellaneous/image/upload/v1741265888/akeurope/logo-actual.png"
                style="height: 35px; width: 35px; margin-bottom: 20px; margin-top: 20px" alt="akeurope.org Logo" />
        </div>
        <h2 style="color: #333333;">Thank you for supporting Alkhidmat Europe</h2>
        <p style="color: #333333;">Hi, {{name}}</p>
        <p style="color: #333333; line-height: 1.5rem;">
            We are truly honored to have you join us in our mission to support children and families affected by
            conflict, disaster, and displacement. Your involvement is vital in helping us deliver much-needed relief and
            resources.
        </p>
        <p style="color: #333333; line-height: 1.5rem;">
            Thank you for your recent order. You can easily manage your payments, subscriptions, and see the details of
            the children you are supporting by visiting our <a href="https://partner.akeurope.org"
                style="text-decoration: none; color: #007A78">Partner Portal</a>. We’ve recently launched this portal,
            and we’d love to hear your feedback and suggestions.
        </p>

        <p style="color: #333333; line-height: 1.5rem;">
            If you have any queries you can reach Abdul Wahab at +47 45782299.
        </p>

        <p style="color: #333333; line-height: 1.5rem;">
            Thank You,<br>The Alkhidmat Europe Team<br>
            <a href="https://akeurope.org" style="text-decoration: none; color: #007A78">akeurope.org</a>
        </p>

    </div>
</body>

</html>