<!DOCTYPE html>
<html>

<head></head>

<body style="font-family: Arial, sans-serif; background-color: #f4f4f7; color: #333333; margin: 0; padding: 0;">
    <div style="width: 100%; max-width: 600px; margin: 0 auto; background-color: #ffffff; padding: 20px;">
        <div style="text-align: center">
            <img src="https://res.cloudinary.com/miscellaneous/image/upload/v1729975173/akeurope/logo-full.png"
                style="height: 35px; margin-bottom: 20px; margin-top: 20px" alt="akeurope.org Logo" />
        </div>
        <h2 style="color: #333333;">Thank you for your order!</h2>
        <p style="color: #333333;">Assalam o Alaikum, {{name}}, Ramadan Mubarak</p>
        <p style="color: #333333; line-height: 1.5rem;">
            We’re thrilled to have you join us in our mission to support children and families affected by conflict,
            disaster, and displacement. Your involvement is crucial in helping us provide relief and resources where
            they are needed most.
        </p>
        <p style="color: #333333; line-height: 1.5rem;">
            Thank you for your recent order. Please find your invoice attached.
        </p>
        <p>
            You can manage your payments & subscriptions on <a href="https://partner.akeurope.org" style="text-decoration: none; color: #007A78">Partner Portal (partner.akeurope.org)</a>. 
        </p>
        <p style="color: #333333; line-height: 1.5rem;">
            With gratitude,<br>The Alkhidmat Europe Team <br> 
        <a href="https://akeurope.org" style="text-decoration: none; color: #007A78">akeurope.org</a>
        </p>
    </div>
</body>

</html>