<!DOCTYPE html>
<html>
<head>
</head>
<body style="font-family: Arial, sans-serif; background-color: #f4f4f7; color: #333333; margin: 0; padding: 0;">
  <div style="width: 90%; max-width: 600px; margin: 0 auto; background-color: #ffffff; padding: 20px;">
    <div style="text-align: center">
      <img src="https://res.cloudinary.com/miscellaneous/image/upload/v1729975173/akeurope/logo-full.png" style="height: 35px; margin-bottom: 20px; margin-top: 20px"/>
    </div>
    <h2 style="color: #333333;">Reset Password</h2>
    <p style="color: #333333;">Assalam o Alaikum, dear {{name}},</p>
    <p style="color: #333333; line-height: 1.5rem">Click on below link to reset your password. Link will expire in 1 hour.</p>
    <a href="{{resetLink}}" style="display: inline-block; padding: 10px 20px; margin-top: 20px; margin-bottom: 20px; background-color: #007A78; color: #ffffff; text-decoration: none; border-radius: 4px;">Click here to reset your password</a> 
    <p style="color: #333333; line-height: 1.5rem">If you didn’t request this, please ignore this email.</p>
    <p style="color: #333333; line-height: 1.5rem">Thank you,<br>Alkhidmat Europe Team <br> <a href="https://akeurope.org" style="text-decoration: none; color: #007A78">akeurope.org</a></p>
  </div>
</body>
</html>
