<!DOCTYPE html>
<html>
<head>
</head>
<body style="font-family: Arial, sans-serif; background-color: #f4f4f7; color: #333333; margin: 0; padding: 0;">
  <div style="width: 100%; max-width: 600px; margin: 0 auto; background-color: #ffffff; padding: 20px;">
    <div style="text-align: center">
      <img src="https://res.cloudinary.com/miscellaneous/image/upload/v1729975173/akeurope/logo-full.png" style="height: 35px; margin-bottom: 20px; margin-top: 20px"/>
    </div>
    <h2 style="color: #333333;">Your Verification Code</h2>
    <p style="color: #333333;">Hi {{name}},</p>
    <p style="color: #333333; line-height: 1.5rem">Your requested 6 digit code is as under. Please use this code to register to akeurope-orphans page:</p>
    <p style="display: inline-block; padding: 10px 20px; margin-top: 20px; background-color: #007A78; color: #ffffff; text-decoration: none; border-radius: 4px; letter-spacing: 10px">{{code}}</p>
    <p>&nbsp</p>
    <p style="color: #333333; line-height: 1.5rem">If you didn’t request this, please ignore this email.</p>
    <p style="color: #333333; line-height: 1.5rem">Thank you,<br>Alkhidmat Europe Team <br> <a href="https://akeurope.org" style="text-decoration: none; color: #007A78">akeurope.org</a></p>
  </div>
</body>
</html>
