<!DOCTYPE html>
<html>
<head>
</head>
<body style="font-family: Arial, sans-serif; background-color: #f4f4f7; color: #333333; margin: 0; padding: 0;">
  <div style="width: 100%; max-width: 600px; margin: 0 auto; background-color: #ffffff; padding: 20px;">
    <div style="text-align: center">
      <img src="https://res.cloudinary.com/miscellaneous/image/upload/v1729975173/akeurope/logo-full.png" style="height: 35px; margin-bottom: 20px; margin-top: 20px" alt="akeurope.org Logo"/>
    </div>
    <h2 style="color: #333333;">Welcome to AK Europe!</h2>
    <p style="color: #333333;">Hi {{name}},</p>
    <p style="color: #333333; line-height: 1.5rem;">
      We’re thrilled to have you join us in our mission to support children and families affected by conflict, disaster, and displacement. Your involvement is crucial in helping us provide relief and resources where they are needed most.
    </p>
    <p style="color: #333333; line-height: 1.5rem;">
      At <strong>akeurope.org</strong>, we’re committed to making a difference by:
      <ul style="color: #333333; line-height: 1.5rem;">
        <li>Providing immediate assistance to children in conflict zones, such as Gaza</li>
        <li>Offering relief to families impacted by catastrophic events like floods in Bangladesh</li>
        <li>Supporting immigrant families in need of shelter and care in Egypt</li>
      </ul>
    </p>
    <p style="color: #333333; line-height: 1.5rem;">
      Thank you for standing with us. Together, we can bring hope and tangible support to children and families facing unimaginable challenges.
    </p>
    <p style="color: #333333; line-height: 1.5rem;">
      Please feel free to reach out to us with any questions or ideas for collaboration.
    </p>
    <p style="color: #333333; line-height: 1.5rem;">
      With gratitude,<br>The Alkhidmat Europe Team <br> <a href="https://akeurope.org" style="text-decoration: none; color: #007A78">akeurope.org</a>
    </p>
  </div>
</body>
</html>
