{{#if data.order.projects}}
<div class="card {{#unless data.order}} d-none {{/unless}} total-cost">
    <div class="card-header d-flex justify-content-between border-0 text-red">
        <div class="card-title">Total Cost</div>
        <div class="card-title">{{data.order.totalCost}} {{data.order.currency}}</div>
    </div>
</div>
{{/if}}